<div ng-show="model.userId" class="container-fluid">
    <div class="navbar navbar-default yj-header-navbar navbar-fixed-top">
        <div class="navbar-brand">Search</div>
        <p class="navbar-text pull-right">
            <a href="#!/search">
                <span class="glyphicon glyphicon-search pull-right"></span></a>  </p>&nbsp;&nbsp;
        <p class="navbar-text pull-right">
            <a ng-click="model.updateUser(model.user)" role="button"
               type="submit">
                <span class="glyphicon glyphicon-ok pull-right"></span></a>
        </p>
    </div>

    <div class="navbar navbar-default yj-header-navbar navbar-fixed-bottom">
        <p class="navbar-text pull-right">
            <a href="#!/">
                <span class="glyphicon glyphicon-home pull-right"></span></a>
        </p>

    </div><!-- /.container-fluid -->
</div>
<div class="search">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-section">
                    <div class="row">
                        <form role="form">
                            <input type="text" ng-model="city" class="form-control" id="city" placeholder="Hangry at? Boston,Huntington Ave etc.">
                            <button type="submit" ng-click="model.searchFoodSpotByCity(city)" class="btn btn-default btn-primary">Search</button>


                            <!--<button ng-click="model.geoFindMe()" class="btn btn-default btn-primary">Too hungry?Find food nearby</button>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <ul ng-repeat="eatery in model.eatSpots.businesses" class="col-sm-6 col-md-3 col-lg-3">
                <li>
                    <a href="#!/details/{{eatery.id}}">
                        <h4>{{eatery.name}}</h4></a>
                </li>
                <li>
                    <img ng-src="{{eatery.image_url}}" width="200" height="200"/>
                </li>
            </ul>
        </div>
    </div>
</div>