
<div class="container-fluid">
    <div>
        <div ng-show="model.errorMessage" class="alert alert-danger ">
            {{model.errorMessage}}
        </div>
        <h2 class="form-signin-heading">
            Login
        </h2>
        <form class="form-signin" >
            <label for="inputUsername"
                   class="sr-only">
                username
            </label>
            <input type="text"
                   name="username"
                   ng-model="model.user.username"
                   id="inputUsername"
                   class="form-control"
                   placeholder="username"
                   required autofocus>
            <label for="inputPassword"
                   class="sr-only">
                password
            </label>
            <input type="password"
                   name="password"
                   id="inputPassword"
                   ng-model="model.user.password"
                   class="form-control"
                   placeholder="password"
                   required>
            <a class="btn btn-lg btn-primary btn-block"
               ng-click="model.login(model.user)"
               role="button"
               type="submit">Login</a>
            <a class="btn btn-lg btn-success btn-block"
               role="button"
               href="#!/register"
               type="submit">Register</a>
        </form>
    </div> <!-- /container -->
</div>

