<!-- Fixed navbar -->
    <div class="container-fluid yj-eatery">
        <div class="navbar navbar-default yj-header-navbar navbar-fixed-top">
            <div class="navbar-brand">Hangry</div>
            </div>

        <div id="yj-home-header-color" class="navbar-text pull-right">
            <ul class="nav navbar-nav yj-home-header-color">
                <li><a ng-show="!currentUser" href="#!/login">Login</a></li>
                <li><a ng-show="!currentUser" href="#!/register">Register</a></li>
                <li><a ng-show="currentUser"  href="#!/profile">Profile</a></li>
            </ul>
        </div><!--/.nav-collapse -->
     <div ng-show="currentUser">
            <h3>Hey {{currentUser.name}} , it's great to see you again</h3>
        </div>
        <h3>Hangry is always there for you</h3>
        Hangry,a handy application that finds you food spots around in a jiffy.
        Own an eatery yourself? Use our service and spread your word.
        <h5>,we work from:</h5>
        <iframe
                width="300"
                height="250"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB2Xs6hMomLYFucBuRzYV-4wwnXeETKMaQ
    &q=Northeastern+University" allowfullscreen>
        </iframe><h3>Write to us at Hangry@hunger.com</h3>
        <ng-include src="'views/search/search.html'"></ng-include>
        <div class="navbar navbar-default yj-header-navbar navbar-fixed-bottom">

</div>
    </div>