<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <p class="navbar-text pull-left">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                            <span class="glyphicon glyphicon-chevron-left pull-left"></span></a>
                    </p>
                    <div class="navbar-brand">Widget List</div>
                    <p class="navbar-text pull-right">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                            <span class="glyphicon glyphicon-plus pull-right"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a role="button" type="submit" href="#!/user/{{model.userId}}">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid yj-widget-gly yj-widget-list">
        <div class="col-md-8 col-md-offset-2 col-sm-12" wbdv-sortable id="widget-list" >

            <div ng-repeat="widget in model.widgets">
                                    <div>
                <div class="wd-widget">
                    <div class="wd-widget-toolbar">
                        <a href="#" role="button">
                            <span class="yj-widget-gly glyphicon glyphicon-align-justify pull-right handle"></span></a>
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="yj-widget-gly glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>

                <div ng-switch="widget.type">
                    <div ng-switch-when="HEADING">
                        <ng-include src="'views/widget/templates/widget-heading.view.client.html'">
                    </div>
                    <div ng-switch-when="IMAGE">
                        <ng-include src="'views/widget/templates/widget-image.view.client.html'">
                    </div>
                    <div ng-switch-when="YOUTUBE">
                        <ng-include src="'views/widget/templates/widget-youtube.view.client.html'">
                    </div>
                    <div ng-switch-when="HTML" ng-bind-html="model.trustHtmlContent(widget.text)">
                    </div>
                    <div ng-switch-when="TEXT">
                        <ng-include src="'views/widget/templates/widget-text.view.client.html'">
                    </div>
                </div>
                    </div>


        </div>
    </div>
</div>

</div>