<div class="wd-widget">
    <div class="wd-widget-toolbar">
        <a type="submit" role="button" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="yj-widget-gly glyphicon glyphicon-align-justify pull-right"></span></a>
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
            <span class="yj-widget-gly glyphicon glyphicon-cog pull-right"></span>
        </a>
    </div>
    </div>
    <div>
    <img width="{{widget.width}}" ng-src="{{widget.url}}" class="img-responsive">
</div>