<div>
    <div class="wd-widget">
        <div class="wd-widget-toolbar">
            <span class="glyphicon glyphicon-align-justify pull-right"></span>
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                <span class="yj-widget-gly glyphicon glyphicon-cog pull-right"></span>
            </a>
        </div>
    </div>
    <div class="videoWrapper">
        <iframe src="{{model.trustUrl(widget.url)}}"
                width="{{widget.width}}"
                height="{{widget.width}}"
                frameborder="0"
                allowfullscreen></iframe>
    </div>
</div>