<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <p class="navbar-text pull-left">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                            <span class="glyphicon glyphicon-chevron-left pull-left"></span></a>
                    </p>
                    <div class="navbar-brand">Widget Image</div>
                    <p class="navbar-text pull-right">
                        <a ng-click="model.updateWidget(model.widget)" role="button">
                            <span class="glyphicon glyphicon-ok pull-right"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/user/{{model.userId}}">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid wbd-page-content col-xs-12">

        <label for="name">Name</label>
        <input type="text"
               ng-model="model.widget.text"
               class="form-control"
               placeholder="Name"
               id="name"/>

        <label for="text">Text</label>
        <input type="text"
               ng-model="model.widget.description"
               class="form-control"
               placeholder="text"
               id="text"/>

        <label for="widgetURL">URL</label>
        <input type="text"
               ng-model="model.widget.url"
               class="form-control"
               placeholder="https://cdn.thingiverse.com/renders/c7/05/8e/45/41/IMG_4886_preview_featured.JPG"
               id="widgetURL"/>

        <label for="width">Width</label>
        <input type="text"
               ng-model="model.widget.width"
               class="form-control"
               placeholder="100%"
               id="width"/>


        <form action="/api/upload"   method="post" enctype="multipart/form-data">
            <input  name="myFile"    type="file" class="form-control"/>
            <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
            <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
            <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
            <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
            <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
            <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
        </form>
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/search"
           class="btn btn-primary btn-block"
           role="button">Search Image</a>
        <a class="btn btn-block btn-danger"
           role="button"
           ng-click="model.deleteWidget()">Delete</a>

    </div>
</div>