<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <p class="navbar-text pull-left">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                            <span class="glyphicon glyphicon-chevron-left pull-left"></span></a>
                    </p>
                    <div class="navbar-brand">Widget Youtube</div>
                    <p class="navbar-text pull-right">
                        <a ng-click="model.updateWidget(model.widget)" role="button">
                            <span class="glyphicon glyphicon-ok pull-right"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/user{{model.userId}}">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid wbd-page-content col-xs-12">

        <label for="name">Name</label>
        <input type="text"
               ng-model="model.widget.name"
               class="form-control"
               placeholder=""
               id="name"/>

        <label for="text">Text</label>
        <input type="text"
               ng-model="model.widget.text"
               class="form-control"
               placeholder=""
               id="text"/>

        <label for="widgetURL">URL</label>
        <input type="text"
               ng-model="model.widget.url"
               class="form-control"
               placeholder="https://www.youtube.com/watch?v=bHZt2jd091g"
               id="widgetURL"/>

        <label for="width">Width</label>
        <input type="text"
               ng-model="model.widget.width"
               class="form-control"
               placeholder="100%"
               id="width"/>

        <a class="btn btn-block btn-danger"
           ng-click="model.deleteWidget()"
           role="button">Delete</a>

    </div>
</div>