<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <p class="navbar-text pull-left">
                        <a
                                href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                            <span class="glyphicon glyphicon-chevron-left pull-left"></span></a>
                    </p>
                    <div class="navbar-brand">Widget Heading</div>
                    <p class="navbar-text pull-right">
                        <a ng-click="model.updateWidget(model.widget)">
                            <span class="glyphicon glyphicon-ok pull-right"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#!/user/{{model.userId}}">
                        <span class="pull-right glyphicon glyphicon-user"></span>
                    </a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid wbd-page-content col-xs-12">

        <label for="text">Name</label>
        <input type="text"
               ng-model="model.widget.text"
               class="form-control"
               placeholder="name"
               value="name of the heading"
               id="text"/>

        <label for="text">description</label>
        <input type="text"
               ng-model="model.widget.description"
               class="form-control"
               placeholder="Textual heading of the widget"
               value="Hogwarts is open again"
               id="description"/>

        <label for="size">Size</label>
        <input type="text"
               ng-model="model.widget.size"
               class="form-control"
               placeholder="3"
               value="3"
               id="size"/>

        <a class="btn btn-block btn-danger" ng-click="model.deleteWidget()">Delete</a>

    </div>
</div>
