<div class="container-fluid yj-eatery">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <p class="navbar-text pull-left">
                        <a href="#!/user/{{model.userId}}/website"><span class="glyphicon glyphicon-chevron-left pull-left"></span></a>
                    </p>
                    <div class="navbar-brand">Eatery</div>
                    <p class="navbar-text pull-right">
                        <a ng-click="model.createeatSpot(model.eatSpot)" type="submit" role="button"><span class="glyphicon glyphicon-ok pull-right"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/profile"><span class="pull-right glyphicon glyphicon-user"></span>
                </a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid yj-website-list">
        <div class="row">
            <div class="col-md-3 visible-lg visible-md">
                <!--<ul class="list-group">-->
                    <!--<li ng-repeat="website in model.websites" class="list-group-item">-->
                        <!--<a role="button"-->
                           <!--type="submit"-->
                           <!--href="#!/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>-->
                        <!--<a role="button"-->
                           <!--type="submit"-->
                           <!--href="#!/user/{{model.userId}}/website/{{website._id}}">-->
                            <!--<span class="pull-right glyphicon glyphicon-cog"></span></a>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
            <div class="col-md-9 col-xs-12">
                <form action=""
                      method="post"
                      class="">
                    <div class="col-xs-12">
                        <label for="name">Name</label>
                        <input class="form-control"
                               ng-model="model.eatSpot.name"
                               placeholder="Name"
                               value="Facebook"
                               id="name"/>
                        <label for="price">Price: $,$$, or $$$?</label>
                        <input class="form-control"
                               ng-model="model.eatSpot.price"
                               placeholder="Name"
                               value="Facebook"
                               id="price"/>
                        <label for="address1">Address Line 1</label>
                        <input class="form-control"
                               ng-model="model.eatSpot.location.address1"
                               placeholder="Name"
                               value="Facebook"
                               id="address1"/>
                        <label for="address2">Address Line 2</label>
                        <input class="form-control"
                               ng-model="model.eatSpot.location.address2"
                               placeholder="Name"
                               value="Facebook"
                               id="address2"/>
                        <label for="city">City</label>
                        <input class="form-control"
                               ng-model="model.eatSpot.location.city"
                               placeholder="Name"
                               value="Facebook"
                               id="city"/>
                        <label for="state">State</label>
                        <input class="form-control"
                               ng-model="model.eatSpot.location.state"
                               placeholder="Name"
                               value="Facebook"
                               id="state"/>
                        <label for="address1">Country</label>
                        <input class="form-control"
                               ng-model="model.eatSpot.location.country"
                               placeholder="Name"
                               value="Facebook"
                               id="country"/>
                        <label for="zipcode">Zipcode</label>
                        <input class="form-control"
                               ng-model="model.eatSpot.location.zipcode"
                               placeholder="Name"
                               value="Facebook"
                               id="zipcode"/>
                        <label for="phone">Phone</label>
                        <input class="form-control"
                               ng-model="model.eatSpot.phone"
                               placeholder="Name"
                               value="Facebook"
                               id="phone"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
