<div class="col-md-8 col-md-offset-2 col-sm-12">

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <p class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-chevron-left pull-left"></span></a>
            </p>
            <div class="navbar-brand">Websites</div>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus pull-right"></span></a>
            </p>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/user/{{model.userId}}">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a></li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid yj-website-list">
        <div class="website-list">
            <ul class="list-group">
                <li ng-repeat="website in model.websites" class="list-group-item"><a role="button" type="submit" href="#!/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                    <a role="button" type="submit" href="#!/user/{{model.userId}}/website/{{website._id}}"><span class="pull-right glyphicon glyphicon-cog"></span></a>
                </li>
            </ul>
        </div>
    </div> <!-- /container -->
</div>