<div class="yj yj-profile col-md-8 col-md-offset-2 col-sm-12">
    <div class="container-fluid">
        <div class="navbar navbar-default yj-header-navbar navbar-fixed-top">
            <div class="navbar-brand">Profile</div>
            <div class="navbar-text pull-right">
                <a href="#!/search">
                    <span class="glyphicon glyphicon-search"></span></a> &nbsp;
                <a ng-click="model.updateUser(model.user)" role="button"
                   type="submit">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>

        <div class="navbar navbar-default yj-header-navbar navbar-fixed-bottom">
            <p class="navbar-text pull-right">
                <a href="#!/">
                    <span class="glyphicon glyphicon-home pull-right"></span></a>
            </p>

        </div><!-- /.container-fluid -->
        <div ng-show="model.errorMessage" class="alert alert-danger ">
            {{model.errorMessage}}
        </div>

        <form class="form-signin">
            <label for="inputUsername">Username</label>
            <input readonly type="text"
                   ng-model="model.user.username"
                   value="yeshajoshi"
                   id="inputUsername" class="form-control"
                   placeholder="yeshajoshi"
                   required
            >
            <label for="email">
                Email
            </label>
            <input type="email"
                   id="email"
                   class="form-control"
                   placeholder="yj.yesha@gmail.com"
                   autofocus
                   required>
            <label for="firstName">
                First Name
            </label>
            <input type="text"
                   ng-model="model.user.firstName"
                   id="firstName"
                   class="form-control"
                   placeholder="Yesha"
                   required>
            <label for="lastName">
                Last Name
            </label>
            <input type="text"
                   ng-model="model.user.lastName"
                   id="lastName"
                   class="form-control"
                   placeholder="Joshi"
                   required>
            <div ng-show="model.user.role=='HungryUser'">
            <button type="button" class="btn-block btn btn-sm btn-info" data-toggle="collapse" data-target="#demo1">Following {{model.user.follows.length}}</button>
            <div id="demo1" class="collapse">
                <ul class="list-group">
                    <li ng-repeat="f in model.user.follows" class="list-group-item">
                        {{f.username}}<br>
                    </li>
                    <li class="list-group-item" ng-show="!model.user.follows.length">Follow no users</li>
                </ul>
            </div>
            </div>
            <div ng-show="model.user.role=='HungryUser'">
            <button type="button" class="btn btn-sm btn-block btn-info" data-toggle="collapse" data-target="#demo2">Followers {{model.user.followers.length}}</button>
            <div id="demo2" class="collapse">
                <ul class="list-group">
                    <li ng-repeat="f in model.user.followers" class="list-group-item">
                        {{f.username}}<br>
                    </li>
                    <li class="list-group-item" ng-show="!model.user.follows.length">No users followed</li>
                </ul>
            </div>
            </div>
            <h1></h1>
            <div ng-show="model.user.role=='HungryUser'">
            <button type="button" class="btn btn-sm btn-block btn-info" data-toggle="collapse" data-target="#demo3">EatSpots liked {{model.user.eatSpotsLiked.length}}</button>
            <div id="demo3" class="collapse">
                <ul class="list-group">
                    <li ng-repeat="f in model.user.eatSpotsLiked" class="list-group-item">
                        {{f.name}}<br>
                    </li>
                    <li class="list-group-item" ng-show="!model.user.eatSpotsLiked.length">No Eat Spots favourited</li>
                </ul>
            </div>
            </div>
            <a class="btn btn-primary btn-block"
               href="#!/users"
               role="button"
               type="submit">Users</a>
            <a class="btn btn-danger btn-block"
              href="#!/login"
               role="button"
               type="submit">Logout</a>
            <a class="btn btn-danger btn-block"
               ng-click="model.deleteUser(model.user._id)"
               role="button"
               type="submit">Delete</a>
            <a ng-show="model.user.role=='EateryOwner'" class="btn btn-danger btn-block"
               ng-click="model.manageeatSpot()"
               role="button"
               type="submit">Create Eatery</a>
        </form>
    </div> <!-- /container -->
</div>
