<div class="col-md-8 col-md-offset-2 col-sm-12 yj-widgetlist">
        <div class="website-list">
            <ul class="list-group">
                <li ng-repeat="user in model.users" class="list-group-item">{{user.username}}<br><a role="button" type="submit" ng-click="model.addFollower(user._id)">Follow</a>
                     </li>
                <li class="list-group-item" ng-show="!model.users.length">No users to follow</li>
            </ul>
        </div>
    </div> <!-- /container -->
