<div class="col-md-8 col-md-offset-2 col-sm-12 yj-widgetlist">
    <div class="container-fluid">
        <div class="navbar navbar-default yj-header-navbar navbar-fixed-top">
            <div class="navbar-brand">Users</div>
        </div>

        <div class="navbar navbar-default yj-header-navbar navbar-fixed-bottom">
            <p class="navbar-text pull-right">
                <a  href="#!/user/{{model.user._id}}/">
                    <span class="glyphicon glyphicon-user pull-right"></span></a>
            </p>

        </div><!-- /.container-fluid -->
        <div class="website-list">
            <ul class="list-group">
                <li ng-repeat="user in model.user.follows" class="list-group-item">
                    {{user.username}}
                    <br>
                    <button role="button" class="btn btn-danger" type="submit" ng-click="model.removeFollower(user)">Unfollow</button>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo{{user.username}}">View Profile</button>
                    <div id="demo{{user.username}}" class="collapse">
                            <label for="inputUsername">Username</label>
                            <input readonly type="text"
                                   value="{{user.username}}"
                                   id="inputUsername" class="form-control"
                                   placeholder="yeshajoshi"
                                   required>

                            <label for="firstName">
                                First Name
                            </label>
                            <input readonly
                                   type="text"
                                   value="{{user.firstName}}"
                                   id="firstName"
                                   class="form-control"
                                   placeholder="Yesha"
                                   required>
                            <label for="lastName">
                                Last Name
                            </label>
                            <input readonly
                                   type="text"
                                   value="{{user.lastName}}"
                                   id="lastName"
                                   class="form-control"
                                   placeholder="Joshi"
                                   required>
                    </div>
                <li class="list-group-item" ng-show="!model.user.follows.length">No users to unfollow</li>
                <li ng-repeat="user in model.users" class="list-group-item">
                    {{user.username}}
                    <br>
                    <button role="button" class="btn btn-danger" type="submit" ng-click="model.addFollower(user)">Follow</button>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1{{user.username}}">View Profile</button>
                    <div id="demo1{{user.username}}" class="collapse">
                        <label for="inputUsername">Username</label>
                        <input readonly type="text"
                               value="{{user.username}}"
                               id="1inputUsername" class="form-control"
                               placeholder="yeshajoshi"
                               required>

                        <label for="firstName">
                            First Name
                        </label>
                        <input readonly
                               type="text"
                               value="{{user.firstName}}"
                               id="1firstName"
                               class="form-control"
                               placeholder="Yesha"
                               required>
                        <label for="lastName">
                            Last Name
                        </label>
                        <input readonly
                               type="text"
                               value="{{user.lastName}}"
                               id="1lastName"
                               class="form-control"
                               placeholder="Joshi"
                               required>
                    </div>
                <li class="list-group-item" ng-show="!model.users.length">No users to follow</li>
            </ul>
        </div>
    </div> <!-- /container -->
</div>