<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    <title>New Page</title>
    <link href="../../../../vendor/css/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="../../../../vendor/css/bootstrap/css/style.css"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <p class="navbar-text pull-left">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" role="button" type="submit">
                        <span class="glyphicon glyphicon-chevron-left pull-left"></span></a>
                </p>
                <div class="navbar-brand">New Page</div>
                <p class="navbar-text pull-right">
                    <a ng-click="model.createPage(model.page)"
                       role="button"
                       type="submit">
                        <span class="glyphicon glyphicon-ok pull-right"></span></a>
                </p>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#!/user/{{model.userId}}" role="button" type="submit">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 visible-lg visible-md">
            <ul class="list-group">
                <li ng-repeat="page in model.pages" class="list-group-item">
                    <a role="button" type="submit" href="#">{{page.name}}</a>
                    <a role="button"
                       type="submit"
                       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                        <span class="pull-right glyphicon glyphicon-cog"></span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-9 col-xs-12">
            <form action=""
                  method="post"
                  class="">
                <label for="name">Name</label>
                <input class="form-control"
                       ng-model="model.page.name"
                       placeholder="Page Name"
                       value=""
                       id="name"/>
                <label for="description">Title</label>
                <input id="description"
                       ng-model="model.page.description" placeholder="Page Title"
                       class="form-control"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>